V1 Requirements:
1) It should have a place to store todos.
2) It should have a place to display todos.
3) It should have a way to add new todos.
4) It should have a way to change a todo.
5) It should have a way to delete a todo.

V2 Requirements:
1) It should have a function to display todos.
2) It should have a function to add new todos.
3) It should have a function to change a todo.
4) It should have a function to delete a todo.
